.tabs {

}
.tabs__input {
    /*position: absolute;*/
    /*width: 0;*/
    /*height: 0;*/
    /*opacity: 0;*/
    /*outline: none;*/
}
.tabs__scroller {
    display: flex;
    align-items: flex-end;
    column-gap: 40px;
}
.tabs__label {
    padding-bottom: 8px;
    font-family: Inter,sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey-3);
    border-bottom: 5px solid transparent;
}
.tabs__content {
    position: absolute;
    top: 50px;
    background-color: red;
}
.tabs__content_elem {
    left: 50px;
}
.tabs__content_container {
    left: 100px;
}
.tabs__content_template {
    left: 150px;
}
#all-tabs.tabs__input {
    color: red;
}


/*.tabs {*/
/*    display: flex;*/
/*    align-items: flex-end;*/
/*    column-gap: 40px;*/
/*}*/

/*.tabs__input {*/
/*    !*position: absolute;*!*/
/*    !*width: 0;*!*/
/*    !*height: 0;*!*/
/*    !*opacity: 0;*!*/
/*    !*outline: none;*!*/
/*}*/
/*.tabs__item {*/
/*    border-bottom: 5px solid transparent;*/
/*}*/

/*.tabs__label {*/
/*    padding-bottom: 8px;*/
/*    font-family: Inter,sans-serif;*/
/*    font-size: 16px;*/
/*    line-height: 24px;*/
/*    color: var(--grey-3);*/
/*    cursor: pointer;*/
/*    border: 5px solid blue;*/
/*}*/
/*.tabs__content {*/
/*    position: absolute;*/
/*    top: 50px;*/
/*    background-color: red;*/
/*}*/
/*.tabs__content_elem {*/
/*    left: 50px;*/
/*}*/
/*.tabs__content_container {*/
/*    left: 100px;*/
/*}*/
/*.tabs__content_template {*/
/*    left: 150px;*/
/*}*/
/*.tabs__input:checked ~ .tabs__label {*/
/*    color: var(--black);*/
/*    border-bottom: 5px solid var(--black);*/
/*}*/


