.tabs__input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    outline: none;
}
.tabs__scroller {
    display: flex;
    align-items: center;
    column-gap: 40px;
}
.tabs__label {
    padding-bottom: 8px;
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: var(--grey-3);
    border-bottom: 5px solid transparent;
}
.tabs__input_all:checked ~ .tabs__scroller .tabs__label_all {
    color: var(--black);
    border-bottom-color: var(--black);
}
.tabs__input_complex:checked ~ .tabs__scroller .tabs__label_complex {
    color: var(--black);
    border-bottom-color: var(--black);
}
.tabs__input_simple:checked ~ .tabs__scroller .tabs__label_simple {
    color: var(--black);
    border-bottom-color: var(--black);
}
.tabs__content {
    display: none;
}
.tabs__input_all:checked ~ .preview .tabs__content_all {
    display: block;
}
.tabs__input_complex:checked ~ .preview .tabs__content_complex {
    display: block;
}
.tabs__input_simple:checked ~ .preview .tabs__content_simple {
    display: block;
}
