/* Стилизация кнопки */
.button {
    padding: 15px 65px;
    width: 189px;
    height: 48px;
    border: none;
    border-radius: 8px;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    transition: opacity 200ms ease-in-out, background 200ms ease-in-out, border 200ms ease-in-out;
}
.button_primary {
    background-color: var(--primary);
    color: var(--white);
}
.button_primary:hover:enabled {
    background-color: var(--dark-blue);
    cursor: pointer;
}
.button_secondary {
    background-color: var(--secondary);
    color: var(--white);
}
.button_secondary:hover:enabled {
    background-color: var(--dark-purple);
    cursor: pointer;
}
.button_alternate {
    background-color: var(--white);
    border: solid 1px var(--grey-3);
    color: var(--black);
}
.button_alternate:hover:enabled {
    border: solid 1px var(--black);
    cursor: pointer;
}
.button:disabled {
    opacity: 50%;
    cursor: not-allowed;
}