/* Стилизация кнопки */
.button {
    padding: 15px 0;
    width: 189px;
    height: 48px;
    border: none;
    border-radius: 8px;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
}
.button_disabled:disabled {
    opacity: 50%;
    cursor: not-allowed;
}
.button-primary {
    background-color: var(--primary);
    color: var(--white);
}
.button-primary_hover:hover {
    background-color: var(--dark-blue);
    transition: opacity 200ms ease-in-out, background 200ms ease-in-out;
    cursor: pointer;
}
.button-secondary {
    background-color: var(--secondary);
    color: var(--white);
}
.button-secondary_hover:hover {
    background-color: var(--dark-purple);
    transition: opacity 200ms ease-in-out, background 200ms ease-in-out;
    cursor: pointer;
}
.button-alternate {
    background-color: var(--white);
    border: solid 1px var(--grey-3);
    color: var(--black);
}
.button-alternate_hover:hover {
    border: solid 1px var(--black);
    transition: opacity 200ms ease-in-out, border 200ms ease-in-out;
    cursor: pointer;
}