.template-component {
    position: relative;
    padding: 32px 48px;
    min-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--white);
}
.template-component__name {
    margin-bottom: 20px;
    font-family: Inter, sans-serif;
    font-size: 20px;
}
.template-component__tabs {
    margin-top: 65px;
}
.template-component__code-block {
    margin-top: 50px;
}
@media screen and (min-width: 992px) {
    .template-component {
        align-items: flex-start;
        border-radius: 12px;
        box-shadow: 0 2px 4px rgba(33, 36, 41, 0.05);
    }
    .template-component__name {
        font-size: 28px;
    }
}
