.card {
    flex-basis: 164px;
    flex-grow: 1;
    height: 231px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
    background-color: var(--white);
    box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
    cursor: pointer;
}
.card__body {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card__name {
    height: 67px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Inter, sans-serif;
}
.card__title {
    line-height: 24px;
    font-size: 16px;
    color: var(--black);
}
.card__type {
    line-height: 22px;
    font-size: 14px;
    color: var(--grey-3);
}
@media screen and (min-width: 576px) {
    .card {
        min-width: 30.33%;
    }
}
@media screen and (min-width: 768px) {
    .card {
        flex-basis: 350px;
        flex-grow: 0;
        height: 367px;
    }
    .card__name {
        justify-content: flex-end;
        margin-bottom: 32px;
    }
    .card__title {
        margin-bottom: 6px;
        font-size: 21px;
        color: var(--black);
    }
    .card__type {
        font-size: 16px;
        color: var(--grey-4);
    }
}

