/* Стилизация аккордеона */
.preview__accordion {
    margin: 0 auto 8px auto;
}
.preview__accordion:last-child {
    margin-bottom: 0;
}
.accordion{
    box-sizing: border-box;
    padding: 24px 32px;
    width: 730px;
    border: solid 1px var(--grey-3);
    border-radius: 8px;
}
.accordion[open] {
    padding: 24px 48px 32px 32px;
}
.accordion__title {
    display: inline-block;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}
.accordion__title::marker {
    display: none;
}
.accordion__body {
    color: var(--grey-4);
}

