.avatar {
    width: 116px;
    height: 116px;
}
.avatar__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
@media screen and (min-width: 768px) {
    .avatar_preview {
        width: 160px;
        height: 160px;
    }
}