.toggle {
    display: inline-block;
    cursor: pointer;
}
.toggle__input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    outline: none;
}
.toggle__state {
    display: flex;
    align-items: center;
}
.toggle__control {
    width: 52px;
    height: 28px;
    background: var(--white);
    border: 1px solid var(--grey-2);
    border-radius: 16px;
    position: relative;
}
.toggle__button {
    position: absolute;
    top: 1px;
    left: 1px;
    width: 24px;
    height: 24px;
    background: var(--grey-2);
    border-radius: 16px;
}
.toggle__label {
    margin-left: 12px;
    font-family: Inter, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey-4);
}
.toggle__input:checked ~ .toggle__state .toggle__control {
    background-color: var(--blue);
    border: var(--blue);
}
.toggle__input:checked ~ .toggle__state .toggle__button {
    top: 2px;
    transform: translate(calc(100% + 1px), 0);
    background-color: var(--white);
}
.toggle__input:focus ~ .toggle__state .toggle__label {
    border-bottom: 1px solid var(--grey-4);
}
.toggle__input:disabled ~ .toggle__state .toggle__control {
    background-color: var(--grey-2);
}
.toggle__input:disabled ~ .toggle__state .toggle__button {
    background-color: var(--grey-3);
}
.toggle__input:disabled ~ .toggle__state .toggle__label {
    color: var(--grey-2);
}