/* Стилизация кнопки */
.button {
    padding: 15px 65px;
    height: 48px;
    border: none;
    border-radius: 8px;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    white-space: nowrap;
    transition: opacity 200ms ease-in-out, background 200ms ease-in-out, border 200ms ease-in-out;
}
.button_primary {
    background-color: var(--primary);
    color: var(--white);
}
.button_primary:hover:enabled {
    background-color: var(--dark-blue);
    cursor: pointer;
}
.button:disabled {
    opacity: 50%;
    cursor: not-allowed;
}