@import '../fonts/fonts.css';
@import '~normalize.css';

:root {
    --white: #ffffff;
    --black: #212429;
    --pink: #F784AD;
    --light-purple: #A0B1F5;
    --purple: #7048E8;
    --dark-purple: #5028C6;
    --dark-purple-2: #334D6E;
    --blue: #4263EB;
    --dark-blue: #2342C0;
    --red: #F03D3E;
    --grey-1: #F8F9FA;
    --grey-2: #DDE2E5;
    --grey-3: #ACB5BD;
    --grey-4: #495057;
    --grey-5: #334D6E;
    --grey-6: #90A0B7;
    --grey-8: #c4c4c4;

    --error: var(--red);
    --success: var(--blue);

    --primary: var(--blue);
    --secondary: var(--purple);
}
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
html, body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}
*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
html, body {
    height: 100%;
}
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}
h1, h2, h3 {
    font-family: 'Inter', sans-serif;
}
.container {
    margin: 0 auto;
    max-width: 1110px;
}