.separating-line {
    width: 100%;
    height: 1px;
    background-color: var(--grey-2);
}
.separating-line_template {
    display: block;
    position: fixed;
    left: 0;
}
@media screen and (min-width: 768px) {
    .separating-line {
        display: none;
    }
    .separating-line_template {
        display: block;
    }
   }
@media screen and (min-width: 992px) {
    .separating-line_template {
        position: absolute;
    }
}