.radio {
    display: inline-block;
    cursor: pointer;
}
.radio__input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    outline: none;
}
.radio__state {
    display: flex;
    align-items: center;
}
.radio__control {
    width: 28px;
    height: 28px;
    background-color: var(--white);
    border: 1px solid var(--grey-2);
    border-radius: 50%;
    position: relative;
}
.radio__icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 18px;
    height: 18px;
    display: none;
}
.radio__label {
    margin-left: 12px;
    font-family: Inter, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey-4);
}
.radio__input:checked ~ .radio__state .radio__control {
    border: 2px solid var(--blue);
}
.radio__input:checked ~ .radio__state .radio__icon {
    display: block;
}
.radio__input:focus ~ .radio__state .radio__label {
    border-bottom: 1px solid var(--grey-4);
}
.radio__input:disabled ~ .radio__state .radio__control {
    background-color: var(--grey-2);
    border: 2px solid var(--grey-2);
}
.radio__input:disabled ~ .radio__state .radio__label {
    color: var(--grey-2);
}