.footer__container {
    margin: 0 auto;
    width: 640px;
    text-align: center;
}
.footer__title {
    margin-bottom: 32px;
    font-size: 38px;
    font-weight: 500;
}
.footer__body {
    margin-bottom: 136px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}