.checkbox {
    display: inline-block;
    cursor: pointer;
}
.checkbox__input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    outline: none;
}
.checkbox__state {
    display: flex;
    align-items: center;
}
.checkbox__control {
    width: 28px;
    height: 28px;
    background-color: var(--white);
    border: 1px solid var(--grey-2);
    border-radius: 4px;
    position: relative;
}
.checkbox__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 13px;
    height: 10px;
    display: none;
}
.checkbox__label {
    margin-left: 12px;
    font-family: Inter, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey-4);
}
.checkbox__input:checked ~ .checkbox__state .checkbox__control {
    background-color: var(--blue);
    border: var(--blue);
}
.checkbox__input:checked ~ .checkbox__state .checkbox__icon {
    display: block;
}
.checkbox__input:focus ~ .checkbox__state .checkbox__label {
    border-bottom: 1px solid var(--grey-4);
}
.checkbox__input:disabled ~ .checkbox__state .checkbox__control {
    background-color: var(--grey-2);
    border: var(--grey-2);
}
.checkbox__input:disabled ~ .checkbox__state .checkbox__label {
    color: var(--grey-2);
}

