.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(196, 196, 196, .5);
    font-family: Inter, sans-serif;
}
.modal__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 428px;
    width: 100%;
    height: 350px;
    padding: 30px 40px;
    background-color: var(--white);
    border-radius: 8px;
}
.modal__close {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}
.modal__title {
    margin-bottom: 16px;
    font-family: Inter, sans-serif;
    font-size: 16px;
}
.modal__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 30px;
}
.modal_preview {
    display: block;
    position: relative;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.modal__inner_preview {
    padding: 10px 20px;
    width: 100%;
    height: 120px;
    background-color: var(--white);
    border-radius: unset;
}
.modal__form_preview {
    row-gap: 5px;
}
.modal__card {
    width: 100%;
}
@media screen and (min-width: 768px) {
    .modal__card {
        position: relative;
        width: 100%;
        padding: 32px 32px 0;
    }
    .modal_preview {
        display: block;
        border-radius: unset;
    }
    .modal__inner_preview {
        padding: 25px;
        width: 235px;
        height: 180px;
        border-radius: 3px;
    }
    .modal__form_preview {
        row-gap: 10px;
    }
}