.template-header {
    background-color: var(--grey-0);
}
.template-header__logo {
    margin: 15px auto 40px;
    width: 110px;
    height: 32px;
    cursor: pointer;
}
@media screen and (min-width: 992px) {
    .template-header {
        background-color: transparent;
    }
    .template-header__logo {
        margin: 25px 0 40px;
    }
}