.text-input {
    display: inline-block;
    position: relative;
}
.text-input__container {
    padding: 15px 25px;
    background: var(--white);
    border: 1px solid var(--grey-2);
    border-radius: 8px;
    font-family: Inter, sans-serif;
    font-size: 20px;
    color: var(--grey-4);
}
.text-input__container::placeholder {
    color: var(--grey-2);
}
.text-input__container::-webkit-input-placeholder {
    color: var(--grey-2);
}
.text-input__container::-ms-input-placeholder {
    color: var(--grey-2);
}
.text-input__container_success {
    border: 1px solid var(--blue);
}
.text-input__success-icon {
    display: none;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-100%, -50%);
    width: 24px;
    height: 24px;
}
.text-input__container_invalid {
    border: 1px solid var(--red);
}
.text-input__invalid-icon {
    display: none;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-100%, -50%);
    width: 24px;
    height: 24px;
    color: var(--red);
}
.text-input__container:focus {
    outline: none;
    border: 1px solid var(--blue);
}
.text-input__container:focus ~ .text-input__invalid-icon {
    display: none;
}.text-input__container:focus ~ .text-input__success-icon {
    display: none;
}
.text-input__container:disabled {
    outline: none;
    background-image: linear-gradient(135deg, var(--grey-2) 20%, var(--white) 20%, var(--white) 50%, var(--grey-2) 50%, var(--grey-2) 70%, var(--white) 70%, var(--white) 100%);
    background-size: 5px 5px;
}
.text-input__container:disabled::placeholder {
    color: transparent;
}
.text-input__container:disabled::-webkit-input-placeholder {
    color: transparent;
}
.text-input__container:disabled::-ms-input-placeholder {
    color: transparent;
}
.text-input__container_success ~ .text-input__success-icon {
    display: block;
}
.text-input__container_invalid ~ .text-input__invalid-icon {
    display: block;
}

